In [6]:
 a = [30, 20, 5]
for b in a:
    print(b)

30
20
5

In [9]:
 x = [40, 20, 10]
total = 0
for i in x:
    total = total + i
print(total)

70

In [11]:
#range
c = list(range(2,8))
print(c)

[2, 3, 4, 5, 6, 7]

In [13]:
t=0
for e in range(1 , 6):
    t += e
print(t)

15

In [14]:
print(list(range(1,9)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
t1 = 0
for r in range(1 ,11):
    if r % 3 == 0:
        t1 += r
print(t1)

18

In [3]:
# compute all multiples of 3,5 that are less than 100
s = 0
for u in range(1 , 100):
    if u % 3 == 0 and u % 5 == 0:
        s += u
print("sum:-",s)

sum:- 315

In [21]:
#while loops
t = 0
i = 1
while i<5:
    t += i
    i += 1
print(t)

10

In [3]:
given_list = [5, 6, 8, 2, 1,  -3, -4]
t2 = 0
i = 0
while given_list[i] > 0:
    t2 += given_list[i]
    i += 1
print(t2)

22

In [4]:
given_list = [5, 6, 8, 2, 1]
t2 = 0
i = 0
while i < len(given_list) and given_list[i] > 0:
    t2 += given_list[i]
    i += 1
print(t2)

22

In [3]:
given_list1 = [5, 6, 8, 2, 1, -5, -4]
t3 =0
for element in given_list1:
    if element <=0:
        break
    t3 += element
print(t3)

22

In [5]:
t4 = 0
i = 0
while True :
    t4 += given_list1[i]
    i += 1
    if given_list1[i] <= 0:
        break
print(t4)

22

In [7]:

var=10
for letter in 'python':
    if letter=='h':
        break
    print('current variable value:',letter)

while var > 0:
    print('current variable value:',var) 
    var = var-1
    if var==5:
        break
print('Good Bye!')

current variable value: p
current variable value: y
current variable value: t
current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
Good Bye!

In [8]:
var=10
for letter in 'python':
    if letter=='h':
        continue
    print('current variable value:',letter)

while var > 0:
    var = var-1
    if var==5:
        continue
    print('current variable value:',var)
print('Good Bye!')

current variable value: p
current variable value: y
current variable value: t
current variable value: o
current variable value: n
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
current variable value: 4
current variable value: 3
current variable value: 2
current variable value: 1
current variable value: 0
Good Bye!

In [1]:
#filter
smallest = None
print('before')
for value in [3,41,12,9,74,15]:
    if smallest is None:
        smallest = value
    elif value > smallest :
        smallest = value
        print(smallest,value)
print('after',smallest)

before
41 41
74 74
after 74

In [5]:
#compute the sum of all multiplication
total=0
for i in range(1,100):
    if i % 3==0 or i % 5 == 0:
        total += i
print(total)

2318

In [7]:
a=["apple","banana","republic"]
for element in a:
    print(element)

apple
banana
republic

In [8]:
for i in range(len(a)):
    for j in range(i + 1):
        print(a[i])

apple
banana
banana
republic
republic
republic